# Project exclude paths
/target/
src/main/resources/META-INF
out
.idea
src/main/resources/MapPics
src/main/resources/PlayerImages
src/main/resources/Sound
src/main/resources/MapData
src/main/resources/usedUnicodeCodes
src/main/resources/unusedUnicodeCodes
src/main/resources/notes
savegame.json
src/main/resources/characters.json
src/main/resources/key.json
src/main/resources/keyBindings.json
src/main/resources/levelData.json
src/main/resources/MapData/information/levelOne/npcs.json
src/main/resources/MapData/information/levelOne/MapData.json