.root {
    -fx-background-color: #1e1e1e;
    -fx-font-family: 'Consolas';
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.text-area {
    -fx-control-inner-background: #2e2e2e;
    -fx-text-fill: white;
    -fx-border-color: #5a5a5a;
    -fx-border-width: 2;
}

.button {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-border-color: #888;
    -fx-border-width: 1;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #5F5F5F;

}

.label {
    -fx-text-fill: #cccccc;
}
#characterSelection, #difficulty{
    -fx-background-color: #5F5F5F;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
#characterSelection .list-cell, #difficulty .list-cell{
    -fx-background-color: #5F5F5F;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
#gameTitle{
    -fx-background-color: transparent; /* Makes the TextField background completely transparent */
    -fx-font-weight: bold;
    -fx-text-fill: white; /* Sets the text color to black (or any desired color) */
}